"""
Course : Introduction to Python

@author: annworks
"""

In [1]:
# for single line comment
# annwork

# """ for multiline comment

"""
welcome to
python programing
annworks
"""

'\nwelcome to\npython programing\nannworks\n'

# Variables , Multiple Assignments and Typecasting

# Variables

In [1]:
## print statement, both the below statement are true
print("annwork, welcomecome to Python coding")
print('annwork, welcomecome to Python coding')

annwork, welcomecome to Python coding
annwork, welcomecome to Python coding

In [1]:
## wrong usuage
print('annwork, welcomecome to Python coding")

SyntaxError: EOL while scanning string literal (<ipython-input-1-4d3a4638dbd9>, line 2)

In [1]:
## assign integer to a variable
age = 20

##assign string to a variable
sentence = "annwork is an awesome place to  learn python";
print(sentence)

## find the length if a varaible
print(len(sentence))

# assign float to a variable
height = 4.56

annwork is an awesome place to  learn python
44

In [3]:
## concat 2 string

first_nm = "ann"
last_nm = "works"

name = first_nm + last_nm
name

'annworks'

In [4]:
## combine two stirng with space
nm = first_nm +" "+ last_nm  # + symbol is concate and not addition
print(nm)
type(nm)

ann works

str

In [5]:
## adding a string and int will throw an error
first_nm + age

TypeError: can only concatenate str (not "int") to str

# Multiple assignment

In [7]:
# int
a, b, c = 1,2,3
out = a+b+c;
out

6

In [25]:
## assign same values for multiple variables
a1 = a2 = a3 = 4
a1
a2
a3

4

In [8]:
#string
fnm, lnm = "ann", "works"
nm = fnm + lnm
nm

'annworks'

In [9]:
#float
h, l = 1.23, 4.12
o = h+l
o

5.35

In [11]:
#boolean
state = True
print(state)

state1 = False
print(state1)

True
False

In [12]:
##Multiple Assignment of datatype
age, nm , height = 26, "annworks", 5.14
print("value of age: ", age)
print("name is : ", nm)
print("height is : ", height)

value of age:  26
name is :  annworks
height is :  5.14

type function helps to identify the type of variable

In [13]:
print(type(age)) # int
print(type(height)) #float
print(type(sentence)) #string
print(type(state)) # boolean

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# Type casting

In [14]:
# integer to float
a = 1
float(a)

1.0

In [15]:
# float to integer
b = 1.2
int(b)

1

In [16]:
# integer to string
a = 12
str(a)

'12'

In [17]:
## this command will throw an error, as the string cannot be converted into intger
ss = 'annworks'
int(ss)

ValueError: invalid literal for int() with base 10: 'annworks'

# Arthimetic Operation

In [18]:
## simple addition
length = 12
width = 2

tot = length + width
print('Addition output is %d' %tot)

Addition output is 14

In [2]:
## simple subtraction
length = 12
width = 2

tot = length - width
print('subtraction output is %d' %tot)

## postion of the %d, place of display will be there

subtraction output is 10

In [41]:
## simple multiplication
length = 4
width = 4

tot = length * width
print('Multiplication output is :', tot)

Multiplication output is : 16

In [3]:
# power
length = 3
width = 3

tot = length ** width
print('Squared output  is :', tot)

Squared output  is : 27

In [27]:
## simple Division
length = 4
width = 4

tot = length / width
print('Division output is :', tot)

Division output is : 1.0

In [44]:
## simple modulo function, give the remainder value
length = 7
width = 4

tot = length % width
print('Modulo output is :', tot)

Modulo output is : 3

In [28]:
## incremental function

a = 10
a += 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

12

In [29]:
## decremental  function

a = 10
a -= 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

8

In [49]:
a = 10
a *= 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

20

In [30]:
a = 10
a /= 2   ###     += i incremental operator,   all math operator + - * / is feasible
print(a)

5.0

# String Operations

In [31]:
## add a string, output will be the concated output

fnm = "ann"
lnm ="works"
nm = fnm + lnm
nm

'annworks'

In [32]:
## repeats the string, n number of times
nm = "annworks"
nm * 5

'annworksannworksannworksannworksannworks'

In [55]:
## subtract 2 string
fnm = "ann"
lnm ="works"
nm = fnm - lnm
nm # this will throw an error, string cannot be subtracted

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [35]:
## Data slicing, uses index and it starts from 0
nm = "annworks"
print(nm)
print(nm[4]) # to get the fifth character in the word
print(nm[0:3]) #to get only first three characters
print(nm[0:len(nm)]) # to get  all the characters
print(nm[:len(nm)]) # picks from first character till end
print(nm[0:]) # first to last
print(nm[0:-1]) # remove only the last character
print(nm[:-len(nm)]) # diplay no character

annworks
o
ann
annworks
annworks
annworks
annwork

example 1 BMI Calculator

In [36]:
# Lets use the height and weight of a person and calculate BMI of a person
weight = 54
height =  1.52
BMI = weight / (height **2)
print('BMI Value is :', BMI)
## float or double variable
type(BMI) # float

BMI Value is : 23.372576177285318

float

example 2 caluclate simple interest

In [11]:
## Simple Interest = Principal * Interest rate * term of loan

## principal is  50000 INR
# interest rat is 7.25 %
# number of year is 8 years

principal = 50000;
interest_rate = (7.25/100);
num_of_yrs = 8;
simple_interest = principal*interest_rate*num_of_yrs;
print(type(simple_interest))
print(simple_interest )

print("my simple interest is " +str(simple_interest) + " INR for " + str(num_of_yrs) + "years")

print("my simple interest is " , simple_interest , " INR for " , num_of_yrs , "years")

print("my simple interest is %s for %s" , (simple_interest, num_of_yrs))

print("my simple interest is %s for %s"  %(simple_interest, num_of_yrs))

<class 'float'>
28999.999999999996
my simple interest is 28999.999999999996 INR for 8years
my simple interest is  28999.999999999996  INR for  8 years
my simple interest is %s for %s (28999.999999999996, 8)
my simple interest is 28999.999999999996 for 8

Example 3, calculate area of circle

In [38]:
# forumula area of circle = pi * r square

pi = 3.14
r = 2
area = pi * (r**2)
print('area of circle is :',area)

area of circle is : 12.56