# Logical Operation

In [1]:
a, b, c = 1,2,3

AND operation


both the statements below are same
AND operation both the conditions should be satisfied

In [2]:
c > a and c > b
(c > a) & (c > b)

True

both the statements below are same
OR operation either one condition can be satisfied

In [3]:
c < a or c > b
(c < a) | (c > b)

True

In [4]:
i = 10
i % 2 == 0

True

In [5]:
i = 11
i % 2 == 0

False

In [7]:
# not operator, response is inverse
print(i)
not( i < 20)

11

False

In [16]:
##comparision operator
## all the logical operations output will be boolean - true or false
a == b 
a != b 
a > c
b > a
a >= c
b <= a

False

# string

In [2]:
##string place holder

nm = "annworks"
nm

nm + " " +"is 1 years old company"

'annworks is 1 years old company'

In [4]:
age = 1
#nm + " is " + age + " old"  # this will throw an error, string and int cannot be added
nm + " is " + str(age) + " old"  # convert age as string and concatenate

'annworks is 1 old'

In [12]:
nm = "Eddy"
greet = ("%s you are welcome!!")
greet
greet%(nm)

'Eddy you are welcome!!'

In [13]:
greet1 = ( "you are welcome!! %s")
greet1
greet1%(nm)

'you are welcome!! Eddy'

In [15]:
greet2 = ( "Hey  %s , you are welcome!! ")
greet2
greet2%(nm)

'Hey  Eddy , you are welcome!! '

In [16]:
cmp = "%s %s is great company to work with"
cmp%('ann','works')

'ann works is great company to work with'

In [17]:
cmp = "%s is %d a old company"
cmp%("annworks",1)

'annworks is 1 a old company'

In [18]:
cmp%("annworks","awesome") # throws an error, 2nd variable should be number  and not string

TypeError: %d format: a number is required, not str

# Tuples - denoted by ()

In [9]:
name = ("ann","work")
print(type(name))
    
print("last name : {}".format(name[1]))
print(type(format(name[1])))

## ways of displaying the variables
print("first name : {}".format(name[0]))
print("first name : ",(name[0]))
print("first name : %s" %(name[0]))

print(name[1])

<class 'tuple'>
last name : work
<class 'str'>
first name : ann
first name :  ann
first name : ann
work

In [23]:
mytup = ( 'welcome', 21.223, "hello world", 70.2  )
print(mytup)
print(mytup[2]) ## displays the 3rd value as the index starts from 0

('welcome', 21.223, 'hello world', 70.2)
hello world

In [12]:
age = (40,35,8,5)
s = sorted(age)
print(s)

age[1]
s[1]

[5, 8, 35, 40]

8

In [14]:
## sort the elements which is string
fruit = ("orange","apple","grapes")
f = sorted(fruit)
print(f) ## output is list

f1 = sorted(fruit)
print(tuple(f1)) # output is tuple

['apple', 'grapes', 'orange']
('apple', 'grapes', 'orange')

In [34]:
## tuple data slicing
print(age)
print(age[1])
print(age[0:])
print(age[:len(age)])
print(age[:-1])
print(age[-0:-1])

(40, 35, 8, 5)
35
(40, 35, 8, 5)
(40, 35, 8, 5)
(40, 35, 8)
(40, 35, 8)

In [30]:
## add multiple tuples together
ad_tup = age + name
ad_tup

(40, 35, 8, 5, 'ann', 'work')

In [35]:
del age[1] # tuple cannot delete an object in it
del age # tuple can be deleted completly
age # its not available after deleting

TypeError: 'tuple' object doesn't support item deletion

In [37]:
print(len(name))
## repeation is possible    
name * 5

2

('ann', 'work', 'ann', 'work', 'ann', 'work', 'ann', 'work', 'ann', 'work')

# set - denoted by {}

In [42]:
## set uses {}
## add new objects to set

# set by default remove duplicates
ss = {"apple", "banana", "apple", "grapes", "grapes", "cherry"}
print(ss )

## add an element
ss.add("mango")
print(ss)

## remove an element
ss.remove("apple")
print(ss)

{'apple', 'banana', 'grapes', 'cherry'}
{'grapes', 'apple', 'mango', 'banana', 'cherry'}
{'grapes', 'mango', 'banana', 'cherry'}

# List - denoted by [ ]

In [19]:
fruits = ["apple","bananna","orange","grapes","kiwi"]
print(fruits)
print(type(fruits))

['apple', 'bananna', 'orange', 'grapes', 'kiwi']
<class 'list'>

In [24]:
## index starts from zero
print(fruits[1]) # gets the second object from the list
print(fruits[0:])
print(fruits[0:-2]) # remove the last 3 objects from the list

print(fruits[-3:-1])
print(fruits[:-3:-1])

print(fruits[::-1])

bananna
['apple', 'bananna', 'orange', 'grapes', 'kiwi']
['apple', 'bananna', 'orange']
['orange', 'grapes']
['kiwi', 'grapes']
['kiwi', 'grapes', 'orange', 'bananna', 'apple']

In [50]:
## add new objects to the list
fruits.append("berry")
fruits

['apple', 'bananna', 'orange', 'grapes', 'kiwi', 'berry']

In [51]:
## add new element to the list, where as we cannot add or remove an element from tuple
fruits.remove("grapes")
fruits

['apple', 'bananna', 'orange', 'kiwi', 'berry']

In [52]:
# replace berry with cherry
fruits[4] = "cherry"
fruits

['apple', 'bananna', 'orange', 'kiwi', 'cherry']

In [53]:
# finds the length of the list
len(fruits)

5

In [54]:
## delete an object form the list
del fruits[3] # 4th objects grapes is removed form the list
fruits

['apple', 'bananna', 'orange', 'cherry']

In [55]:
## new list
snack = ["chocolate","jam","nuts","apple"]
snack

['chocolate', 'jam', 'nuts', 'apple']

In [56]:
## check if both the length are equal
len(fruits) == len(snack)

True

In [57]:
## get the complete list of objects from both the list
new = fruits + snack
new

['apple', 'bananna', 'orange', 'cherry', 'chocolate', 'jam', 'nuts', 'apple']

In [58]:
## set will help to remove the duplicates
set(new)

{'apple', 'bananna', 'cherry', 'chocolate', 'jam', 'nuts', 'orange'}

In [61]:
# list with mixed variables

emp = [100,"Eddy","annworks",25,24000,"chennai"]
print(emp)
print(emp[2])

[100, 'Eddy', 'annworks', 25, 24000, 'chennai']
annworks

In [28]:
numbers = [3,1,6,2,8,5,6,1]
numbers
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(len(numbers))

5 in numbers
numbers.index(5)

8
1
32
8

5

In [32]:
## find if the element is present in the variable
print(fruits)
"orange" in fruits

fruits.index("orange")

['apple', 'bananna', 'orange', 'grapes', 'kiwi']

2

In [35]:
## sort in list

a = [10,2,3,6,4,8]
print(a)
sorted(a) ## this will not change the original value


a.sort() # original values gets changed
print(a)

[10, 2, 3, 6, 4, 8]
[2, 3, 4, 6, 8, 10]

In [17]:
## pop function
fruit = [ "apple","banana","orange"]
#fruit.pop(2)
return_value = fruit.pop(2)
print("return value:",return_value) # displays and removes the object
print(fruit)

return value: orange
['apple', 'banana']

In [37]:
# Joining list
## add a symbol or newline or table before each elements in the list
    
# add a new lines for each object
print(fruits)
aw = "\n".join(fruits)
print(aw)
    
# add a tab before each object
aw = "\t".join(fruits)
print(aw)
    
aww = "\n".join(["Hey there ","How are doing ?","Its raining here"])
print(aww)


aww = "\t".join(["Hey there","How are doing ?","Its raining here"])
print(aww)

# join not works for integer but only for strings
i = [1,2,3]
aw = "\n".join(i)
print(aw)

['apple', 'bananna', 'orange', 'grapes', 'kiwi']
apple
bananna
orange
grapes
kiwi
apple	bananna	orange	grapes	kiwi
Hey there
How are doing ?
Its raining here
Hey there	How are doing ?	Its raining here

TypeError: sequence item 0: expected str instance, int found

# Dictonary - denoted by {}

In [4]:
students = {"Eddy":26,"Maria":23,"Jack":28}
print(students)
type(students)

print(sorted(students)) # sort dict
print(sorted(students.values()))
print(sorted(students.items()))

{'Eddy': 26, 'Maria': 23, 'Jack': 28}
['Eddy', 'Jack', 'Maria']
[23, 26, 28]
[('Eddy', 26), ('Jack', 28), ('Maria', 23)]

In [67]:
students["Jack"] # pass the name of the student and get the age

28

In [68]:
## update a dictonary
students["Jack"] = 27 # jack age is updated from 28 to 27
students

{'Eddy': 26, 'Maria': 23, 'Jack': 27}

In [70]:
## delete an object in a dic

del students["jack"] ## its case sensitive
students

KeyError: 'jack'

In [72]:
## delete an object in a dic

del students["Jack"] ## its case sensitive
students

{'Eddy': 26, 'Maria': 23}

In [73]:
# length of dict
len(students)

2

In [74]:
## each key should be unique
std  = {"Eddy":26,"Eddy":23,"Eddy":28}
print(std) # holds only the last value when the keys are same
std["Eddy"]

{'Eddy': 28}

28

In [75]:
## dictonary of dictonary
## one level of drill down
elements = {'hydrogen': 1, 'helium': 2, 'carbon': 6}
elements['carbon']

6

In [76]:
## two level of drill down
elements1 = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': 'He'}}
elements1['helium']['symbol']

'He'

In [59]:
# three level of drill down
elements2 = {'hydrogen': {'number': 1, 'weight': 1.00794, 'symbol': 'H'},
            'helium': {'number': 2, 'weight': 4.002602, 'symbol': {'hydrogen': 1, 'helium': 2, 'carbon': 16}}}
elements2['helium']['symbol']['carbon']

16